body{
    background: lightblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    background-color: aqua;
}
h1{
    color: navy;
    text-decoration: underline;
}
h3{
    color: blueviolet;
    text-decoration:underline;
}
table, td, th{
    color: navy; /*define a cor da fonte*/
    border-color: yellowgreen;
    background-color: lightgrey;
    text-align: center;
    width: 70%;
    height: 60%;
}
a{
    color: white;
}
a:visited{
    color: green;
}
a:hover{
    color: aqua;
}

