body{
    background: lightblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1{
    color: navy;
    text-decoration: underline;
}
table, td, th{
    color: navy; /*define a cor da fonte*/
    border-color: yellowgreen;
    background-color: lightgrey;
}
a{
    color: black;
}
a:visited{
    color: green;
}
a:hover{
    color: aqua;
}

